<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/login.css">
  <title>Login Page</title>
</head>

<body>
  <h2>Please Log In </h2><br>
  <div class="login">
    <form id="login" method="post" action="/homepage">
      <label>Email:
        <br>
      </label>
      <input type="email" name="email" id="email" placeholder="email">
      <br><br>
      <label>Password:
        <br>
      </label>
      <input type="Password" name="password" id="password" placeholder="password">
      <br><br>
      <div id="button">
        <input type="submit" name="log" id="log" value="Log In">
        <br><br>
      </div>
    </form>
  </div>
  <a href="http://localhost:5001/signup">
    <h5>Not a Member? Sign up Here</h5>
  </a>
  {{#if message}}
  <h4 class="message">{{message}}</h4>
  {{/if}}
</body>

</html>